{% extends 'base.html.twig' %}

{% block body %}
    <div class="prediction-container">
        <h1 class="prediction-title">PREDICTION</h1>

        {% if product is defined %}
            <div class="product-display">
                <img src="{{ product.imgUrl }}" alt="{{ product.nameProduct }}" class="product-image">
                <p class="product-description">{{ product.nameProduct }}</p>
                <p class="product-description"> Fin prévue : {{ product.dateFinProduct|date('d F Y') }}</p>
            </div>
        {% endif %}

        <div class="frequency-question">
            {{ component('Search') }}
        </div>
    </div>
{% endblock %}
